@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

:root {
  font: 16px / 1 sans-serif;
  background-color: #f9f7f6;
}

html {
  height: 100%;
  background-color: #f9f7f6;
}

.school-name {
  margin: 0%;
  padding: 0%;
}
.post-opp-form {
  margin-bottom: 10%;
  width: 425px;
  margin-left: 2%;
}
.school-container {
  margin: 2%;
}

.home-page-login {
  margin: 0%;
  text-align: center;
}

p {
  margin: 0%;
}

body {
  margin-right: 4%;
  min-height: 100%;
  font-family: 'DM Serif Display', serif;
  text-align: center;
  margin-left: 4%;
  color: #096067;
  background-color: #f9f7f6;
}

.login-buttons {
  border: 0;
  padding: 0;
  background: none;
  padding: 0.25%;
  text-decoration: underline;
}

.do-something {
  margin-top: -20%;
}

header {
  margin-top: 2% !important;
  font-size: 3rem;
  font-family: 'DM Serif Display', serif;
  background-color: #096067;
  margin: 0%;
  padding: 3%;
  color: #f9f7f6;
  width: 45%;
  padding-right: 5%;
  border-top-right-radius: 130px;
  justify-content: center;
  text-align: left;
}

hr {
  background-color: #096067;
  margin: none;
  height: 1px;
  max-width: 300px;
}

h1 {
  font-size: 2rem;
  margin: 2%;
}
h2 {
  padding: 2%;
}
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 1%;
}

.select-opp {
  height: 40px;
  background-color: #096067;
  color: #f9f7f6;
}

.select-opp:hover {
  background-color: #80aaa7;
  color: #096067;
}

.separating-text {
  margin-top: 5%;
  color: rgba(103, 16, 9, 0.9);
}

.sign-in-button {
  width: 282px;
  padding: 3%;
  color: #f9f7f6;
  background-color: #096067;
  letter-spacing: 1px;
}
.sign-in-button:hover {
  color: #096067;
  background-color: #80aaa7;
}

button {
  margin: 0.2%;
  color: #888888;
  color: #096067;
}

.login-create-page {
  display: flex;
  justify-content: space-evenly;
}

button:hover {
  color: white;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
  margin-top: 2%;
}

input {
  height: 40px;
  width: 280px;
  margin: 0.2%;
  font-size: 1rem;
  padding: 1%;
}

.create-link {
  color: rgba(103, 16, 9, 0.9) !important;
  font-weight: bold;
  text-decoration: underline !important;
  margin-top: 0% !important;
}

.create-link:hover {
  color: rgba(197, 27, 14, 0.9) !important;
}

.login-create-buttons {
  display: flex;
}

.sign-in-section {
  margin-top: 8%;
  padding: 1%;
  align-content: center;
}

.opportunity-container {
  padding: 3%;
  margin: 3%;
  width: 400px;
  background-color: #a1c0be90;
}

.opportunity-info {
  text-align: left;
  margin: 1%;
  font-size: 18px;
}
.sign-page-header {
  padding: 2%;
}

.opportunity-display {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 2%;
}

.selected-opps {
  margin-top: 3%;
  margin-bottom: 0%;
}

.delete-opp {
  width: 100%;
  letter-spacing: 1px;
  padding: 2%;
}

.display {
  color: rgba(133, 31, 24, 0.9);
}

.title {
  margin-top: 5%;
  font-size: 2.5rem;
}

.registered-opps {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.home-search {
  border-radius: 10px;
  width: 450px;
  margin: auto;
  padding: 1%;
}

a:link {
  text-decoration: none;
  color: #f9f7f6;
}

a:visited {
  color: #f9f7f6;
}

a:hover {
  letter-spacing: 3px;
  color: #f9f7f6;
}

.home-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.school-info {
  color: #2c3335;
}

.rep-home-search {
  margin-right: 2%;
  margin-top: 0%;
  border-radius: 10px;
  width: 450px;
}
.nav-position {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  padding: 0%;
}

.zip-input {
  width: 250px;
  margin: 2%;
}

.result-size {
  width: 450px;
}

.post-opp:hover {
  color: white;
  background-color: #096067;
}

.search-button {
  width: 100%;
  letter-spacing: 2px;
}
.delete-opp:hover {
  background-color: rgba(122, 20, 13, 0.9);
  color: #f9f7f6;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .opportunity-container {
    margin: 0%;
    box-shadow: none;
    width: 99%;
    margin-bottom: 3%;
  }

  .login-create-page {
    display: block;
  }

  header {
    width: 100%;
  }

  h1 {
    margin: 0%;
    justify-content: center;
  }

  html {
    width: 100%;
  }
  body {
    width: 100%;
    justify-content: center;
    margin: 0%;
  }
  .home-section {
    display: block;
    width: 100%;
    justify-content: center;
  }
  .mobile-view {
    display: flex;
    flex-wrap: wrap;
  }

  .post-opp-form {
    width: 100%;
    margin: 0%;
  }

  .registered-opps {
    text-align: center;
    width: 100%;
    border-left: none;
  }

  .volunteer-h2 {
    width: 100%;
  }
  .home-search {
    height: 260px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
  }
  .result-size {
    width: 100%;
    margin: none;
  }

  .nav-position {
    justify-content: center;
    margin: 0%;
  }
  .rep-home-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .nav-bar {
    padding: 0%;
  }

  .zip-input {
    width: 200px;
  }

  form {
    text-align: center;
  }

  header {
    border-top-right-radius: 0px;
  }
}
